In [1]:
from sklearn.utils import shuffle
import pandas as pd
import numpy as np
import math
from scipy import stats
from sklearn import model_selection

In [2]:
churn_data = pd.read_csv('orange_small_churn_data.train')
churn_labels = pd.read_table('orange_small_churn_labels.train', header = -1, names = ["labels"])

In [3]:
churn_data_shuffled = shuffle(churn_data, random_state=123)
churn_labels_shuffled = shuffle(churn_labels, random_state=123)

In [4]:
train_data, test_data, train_labels, test_labels = model_selection.train_test_split(churn_data_shuffled, churn_labels_shuffled, 
                                                                                     test_size = 0.3)

In [5]:
test_data.to_csv("hold_out_data.txt", index = False)
test_labels.to_csv("hold_out_labels.txt", index = False)

In [6]:
train_data.to_csv("train_data.txt", index = False)
train_labels.to_csv("train_labels.txt", index = False)

In [3]:
pd.read_csv("orange_small_churn_labels_test.csv")

      Unnamed: 0  0
0           3841 -1
1          12898 -1
2          15032 -1
3          36781 -1
4           9201 -1
5          21288 -1
6          37321 -1
7           8600 -1
8          33089 -1
9          39511 -1
10          6339 -1
11         18278 -1
12         35884 -1
13         21864 -1
14          2349 -1
15         25013 -1
16          4325  1
17         18444 -1
18         38567 -1
19         35807 -1
20         21574 -1
21         32747 -1
22          6459 -1
23         15625 -1
24         33301 -1
25         20958 -1
26          4158 -1
27         36250 -1
28         39306 -1
29         34064 -1
...          ... ..
7970       36622 -1
7971       24522 -1
7972       36142 -1
7973        7492 -1
7974       29689 -1
7975        5279 -1
7976       20380 -1
7977       39387 -1
7978        6462 -1
7979       32952 -1
7980       27467 -1
7981       17656 -1
7982        3635 -1
7983       27149 -1
7984       30272 -1
7985        6982 -1
7986       28017 -1
7987       20587 -1
7988        9371 -1
7989       30830 -1
7990       11637  1
7991       23244 -1
7992        7020 -1
7993       34784 -1
7994       10228 -1
7995       30258 -1
7996       20563 -1
7997       20275 -1
7998       10121 -1
7999       32191 -1

[8000 rows x 2 columns]